<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="gzw2" class="com.gzw.boot.beans.User">
        <property name="name" value="aa"></property>
        <property name="age" value="12"> </property>
    </bean>

    <bean id="cat2" class="com.gzw.boot.beans.Pet">
        <property name="name" value="bb"></property>

    </bean>

</beans>